<div class="header">
    <div class="leftheader">
    <div style="font-size: 50px; margin-left: 20px; font-weight: 500;">NILA BOUTIQUE</div>
    <br>
    <div style="font-size: 20px; margin-left: 20px; font-weight: 500;">Everyone is special </div>
</div>
<div class="rightheader">
    <a href="/" style="text-decoration: none; color: white;margin-left: 100px; ">PRODUCTS</a>
    <a href="/about" style="text-decoration: none; color: white; margin-left: 100px;  ">ABOUT</a>
    <a href="/new" style="text-decoration: none; color: white; margin-left: 100px;  ">NEW PRODUCT</a>
</div>
</div>